@import url(reset.css);
@import url(fonts.css);
@import url(sky-forms.css);
@import url(animate.css);
@import url(../bootstrap/css/bootstrap.css);
/* CSS  */
/*$font-Proximanova-Light: "Proximanova-Light";
$font-proximanova-regular: "Proximanova-Regular";
$font-proximanova-semibold: "proximanova-semibold";
$font-proximanova-bold: "proximanova-bold";
*/
/* line 25, ../scss/main.scss */
.font-Proximanova-Light, .wrp-notfound .contenttext, .titlewhite, .wrp-mini h1, .wrp-mini .contenttxt-detail .item-feature input[type="text"] {
  font-family: "proxima-nova";
  font-weight: 300;
  font-style: normal;
}

/* line 32, ../scss/main.scss */
.font-proximanova-regular, body, .supertopmenu, .mainmenu, .wrp-itemfull, .wrp-itemldgerfills, .wrp-talkrequest h4, .wrp-talkrequest .wrp-link, .wrpsubmenu ul li, .pages, .wrp-infoabout .bgblue, .formldger .input label.checkbox, .newsletter-form .wrpinput input[type="text"], .wrplist-career .item-career, .wrplist-career .item-career h4, .wrp-banerimage .contents, .pages-nopadding, .content-demo, .form-request p, .form-request input[type="text"], .wrp-mini .item h3, .wrp-mini .contenttxt-detail span, .wrp-mini .contenttxt-detail .item-feature h5, .date-artikel, .wrp-subscribe span, .footer-btn .copyright {
  font-family: "proxima-nova";
  font-weight: 400;
  font-style: normal;
}

/* line 38, ../scss/main.scss */
.font-proximanova-semibold, .link-green, .wrp-itemfull h3, .wrp-itemldgerfills h4, .wrp-talkrequest .wrp-btn a, .pages h3, .pages h4, .wrpfull-leader .content .content-leader h4, .formldger .input label, .formldger .input input[type="submit"], .newsletter-form h2, .newsletter-form .wrpinput input[type="submit"], .newsletter-form .wrpinput input[type="button"], .wrp-pastedition .item-edition, .wrp-banerimage h2, .wrp-list-leader .item-leader h3, .wrp-notfound .contenttext h3, .wrp-notfound .contenttext a, .titlewhite h3, .content-demo h3, .wrp-thanks h3, .form-request label, .form-request input[type="submit"], .wrp-mini .contenttxt-detail h2, .wrp-mini .contenttxt-detail h3, .wrp-mini .contenttxt-detail h4, .footer-btn .wrp-thingking h4, .footer-btn .wrp-thingking .content h5 {
  font-family: "proxima-nova";
  font-weight: 600;
  font-style: normal;
}

/* line 44, ../scss/main.scss */
.font-proximanova-bold, .contactpage h4 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
}

/* line 52, ../scss/main.scss */
body {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  color: #333;
}

/* line 66, ../scss/main.scss */
a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 75, ../scss/main.scss */
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 85, ../scss/main.scss */
.clear {
  clear: both;
}

/* line 89, ../scss/main.scss */
.alpha {
  padding-left: 0 !important;
}

/* line 93, ../scss/main.scss */
.omega {
  padding-right: 0 !important;
}

/* line 97, ../scss/main.scss */
.no-padding {
  padding: 0 !important;
}

/* line 101, ../scss/main.scss */
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}

/* line 107, ../scss/main.scss */
img.border:hover, img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 116, ../scss/main.scss */
.animate-def, .mainmenu, .mainmenu.active, .wrp-mobilemenu, .wrp-mobilemenu.active, .wrp-mobilemenu.active .bg-green, .super-wrapper, .super-wrapper.left, .wrp-list-leader .item-leader .img-leader .content, .wrp-list-leader .item-leader:hover .img-leader .content {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 123, ../scss/main.scss */
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 124, ../scss/main.scss */
.imgwrp img {
  max-width: 100%;
}

/* --------------------- HEADER LAYOUT --------------------- */
/* line 130, ../scss/main.scss */
.wrp-headerweb {
  width: 100%;
  display: block;
  min-height: 100px;
  border-top: #194269 solid 3px;
  background: #194269;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NDI2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDczYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #194269), color-stop(100%, #3073b3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* IE10+ */
  background: linear-gradient(to right, #194269 0%, #3073b3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#194269', endColorstr='#3073b3',GradientType=1 );
  /* IE6-8 */
  overflow: hidden;
}

/* line 147, ../scss/main.scss */
.bg-lefttopmenu {
  background: url("../images/bg-lefttopmenu.png") no-repeat;
  width: 21px;
  height: 34px;
  float: left;
}

/* line 154, ../scss/main.scss */
.wrp-supertop {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: -3px;
}

/* line 161, ../scss/main.scss */
.supertopmenu {
  color: #fff;
  float: right;
  display: block;
  font-size: 12px;
}
/* line 167, ../scss/main.scss */
.supertopmenu ul {
  float: left;
  background: #2f3c46;
  height: 34px;
  overflow: hidden;
  padding: 0 5px;
  margin-bottom: 0;
}
/* line 174, ../scss/main.scss */
.supertopmenu ul li {
  float: left;
  display: inline-block;
  padding-top: 5px;
}
/* line 178, ../scss/main.scss */
.supertopmenu ul li a {
  display: block;
  padding: 5px 10px;
}
/* line 182, ../scss/main.scss */
.supertopmenu ul li a:hover {
  color: #15bc97;
  text-decoration: none;
  opacity: 1;
}
/* line 189, ../scss/main.scss */
.supertopmenu a {
  color: #fff;
}

/* line 194, ../scss/main.scss */
.mainlogo {
  float: left;
  margin-top: -10px;
}
/* line 197, ../scss/main.scss */
.mainlogo img {
  max-width: 205px;
}

/* line 202, ../scss/main.scss */
.top {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

/* line 210, ../scss/main.scss */
.mobile-menu {
  position: absolute;
  top: 45px;
  right: 20px;
  background: #194269;
  padding: 10px;
  padding-top: 14px;
  display: none;
  z-index: 100;
}
/* line 218, ../scss/main.scss */
.mobile-menu label {
  float: right;
  padding-top: 1px;
  display: none;
}
/* line 223, ../scss/main.scss */
.mobile-menu .menu-mobile {
  height: auto;
  display: inline-block;
}
/* line 227, ../scss/main.scss */
.mobile-menu .menu-mobile:hover {
  cursor: pointer;
}
/* line 230, ../scss/main.scss */
.mobile-menu .menu-mobile.open .menu-item {
  background: #fff;
}
/* line 233, ../scss/main.scss */
.mobile-menu .menu-mobile.open .menu-item:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 10px 50%;
  -ms-transform-origin: 10px 50%;
  -webkit-transform-origin: 10px 50%;
  transform-origin: 10px 50%;
}
/* line 243, ../scss/main.scss */
.mobile-menu .menu-mobile.open .menu-item:nth-child(2) {
  opacity: 0;
}
/* line 246, ../scss/main.scss */
.mobile-menu .menu-mobile.open .menu-item:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 8px 50%;
  -ms-transform-origin: 8px 50%;
  -webkit-transform-origin: 8px 50%;
  transform-origin: 8px 50%;
}
/* line 257, ../scss/main.scss */
.mobile-menu .menu-item {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: block;
  width: 30px;
  height: 3px;
  margin: 0 0 5px;
  background: #fff;
}

/* line 274, ../scss/main.scss */
.mainmenu {
  float: right;
  font-size: 19px;
}
/* line 279, ../scss/main.scss */
.mainmenu ul {
  margin-bottom: 0;
}
/* line 281, ../scss/main.scss */
.mainmenu ul li {
  display: inline-block;
  margin-left: 55px;
}
/* line 284, ../scss/main.scss */
.mainmenu ul li a {
  display: block;
  color: #fff;
  padding: 10px 0;
}
/* line 289, ../scss/main.scss */
.mainmenu ul li a:hover, .mainmenu ul li a.active {
  text-decoration: none;
  color: #54f3ab;
  opacity: 1;
}

/* line 298, ../scss/main.scss */
.mainmenu.active {
  display: block;
  opacity: 1;
  margin-top: 10px;
  visibility: visible;
}

/* line 306, ../scss/main.scss */
.link-green {
  background: #15bc97;
  color: #fff;
  padding: 1px 40px;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
}

/* line 316, ../scss/main.scss */
.link-green:hover {
  text-decoration: none;
  background: #fff;
  color: #15bc97;
  opacity: 1;
}

/* line 323, ../scss/main.scss */
.baner-home {
  padding: 50px 0;
  padding-bottom: 65px;
  font-size: 23px;
  line-height: 40px;
  color: #dfe2e7;
}
/* line 329, ../scss/main.scss */
.baner-home .content-left {
  text-align: left;
}
/* line 331, ../scss/main.scss */
.baner-home .content-left h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 29px;
  font-family: 700;
  font-weight: normal;
}
/* line 338, ../scss/main.scss */
.baner-home .content-left .link-green {
  margin-top: 30px;
}
/* line 342, ../scss/main.scss */
.baner-home .content-right {
  text-align: center;
}
/* line 344, ../scss/main.scss */
.baner-home .content-right img {
  max-width: 349px;
}

/* line 350, ../scss/main.scss */
.bgbaner-pages {
  background: #194269;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NDI2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDczYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #194269), color-stop(100%, #3073b3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #194269 0%, #3073b3 100%);
  /* IE10+ */
  background: linear-gradient(to right, #194269 0%, #3073b3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#194269', endColorstr='#3073b3',GradientType=1 );
  /* IE6-8 */
  display: block;
  overflow: hidden;
  min-height: 150px;
}
/* line 363, ../scss/main.scss */
.bgbaner-pages h2 {
  color: #fff;
  text-align: center;
}

/* line 369, ../scss/main.scss */
.imglamp {
  float: right;
  right: 30%;
  text-align: right;
  padding-bottom: 200px;
}

/* line 376, ../scss/main.scss */
.requestdemo-header {
  background: #194269;
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 382, ../scss/main.scss */
.requestdemo-header .mainlogo {
  text-align: left;
  margin: 0;
}
/* line 386, ../scss/main.scss */
.requestdemo-header span {
  text-align: right;
  color: #929faf;
  font-size: 23px;
  display: inline-block;
  float: right;
  letter-spacing: 2px;
}

/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
/* line 400, ../scss/main.scss */
#bodyweb {
  overflow: hidden;
}

/* line 404, ../scss/main.scss */
.wrp-itemfull {
  overflow: hidden;
  color: #194269;
  font-size: 21px;
  padding-top: 100px;
}
/* line 410, ../scss/main.scss */
.wrp-itemfull h3 {
  font-size: 29px;
}
/* line 414, ../scss/main.scss */
.wrp-itemfull p {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 419, ../scss/main.scss */
.wrp-itemfull ul li {
  background: url("../images/checklist.png") left top no-repeat;
  padding-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 426, ../scss/main.scss */
.wrp-itemfull .content {
  text-align: left;
  padding-left: 40px;
  max-width: 530px;
  line-height: 30px;
  font-weight: 400;
}
/* line 433, ../scss/main.scss */
.wrp-itemfull .content h5 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}
/* line 439, ../scss/main.scss */
.wrp-itemfull .content span {
  font-weight: 400;
  font-size: 16px;
}

/* line 446, ../scss/main.scss */
.wrp-itemldgerfills {
  color: #000000;
  font-size: 21px;
  padding-top: 90px;
  background: #f3f3f3;
  padding-bottom: 90px;
  margin-top: 70px;
  margin-bottom: 30px;
}
/* line 455, ../scss/main.scss */
.wrp-itemldgerfills h4 {
  font-size: 29px;
  color: #2d7bc5;
  margin-bottom: 30px;
}
/* line 461, ../scss/main.scss */
.wrp-itemldgerfills .wrp-item {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 466, ../scss/main.scss */
.wrp-itemldgerfills .item-fills {
  display: inline-block;
  width: 230px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}
/* line 472, ../scss/main.scss */
.wrp-itemldgerfills .item-fills .wrp-img {
  display: block;
  min-height: 87px;
}
/* line 475, ../scss/main.scss */
.wrp-itemldgerfills .item-fills .wrp-img img {
  max-width: 82px;
}
/* line 479, ../scss/main.scss */
.wrp-itemldgerfills .item-fills img {
  display: block;
  margin: 0 auto;
}
/* line 483, ../scss/main.scss */
.wrp-itemldgerfills .item-fills span {
  display: block;
  text-align: center;
}

/* line 491, ../scss/main.scss */
.wrp-talkrequest {
  display: block;
  color: #000;
  padding-top: 30px;
  padding-bottom: 90px;
}
/* line 496, ../scss/main.scss */
.wrp-talkrequest h4 {
  color: #194269;
  font-size: 29px;
  display: block;
  text-align: center;
}
/* line 503, ../scss/main.scss */
.wrp-talkrequest .wrp-btn {
  margin-top: 40px;
}
/* line 505, ../scss/main.scss */
.wrp-talkrequest .wrp-btn a {
  display: inline-block;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 17px;
  width: 236px;
  margin-left: 3px;
  margin-right: 3px;
  letter-spacing: 2px;
}
/* line 517, ../scss/main.scss */
.wrp-talkrequest .wrp-btn .bluebtn {
  border: #2d7bc5 solid 2px;
  background: #2d7bc5;
}
/* line 521, ../scss/main.scss */
.wrp-talkrequest .wrp-btn .bluebtn:hover {
  background: none;
  text-decoration: none;
  opacity: 1;
  color: #2d7bc5;
}
/* line 527, ../scss/main.scss */
.wrp-talkrequest .wrp-btn .greenbtn {
  border: #15bc97 solid 2px;
  background: #15bc97;
}
/* line 531, ../scss/main.scss */
.wrp-talkrequest .wrp-btn .greenbtn:hover {
  background: none;
  color: #15bc97;
  text-decoration: none;
  opacity: 1;
}
/* line 538, ../scss/main.scss */
.wrp-talkrequest .wrp-link {
  display: block;
  font-size: 18px;
  margin-top: 40px;
}
/* line 545, ../scss/main.scss */
.wrp-talkrequest .wrp-link ul li {
  margin-bottom: 10px;
}
/* line 547, ../scss/main.scss */
.wrp-talkrequest .wrp-link ul li a {
  color: #000;
  border-bottom: #d4d4d4 solid 1px;
}
/* line 551, ../scss/main.scss */
.wrp-talkrequest .wrp-link ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* line 560, ../scss/main.scss */
.wrp-mobilemenu {
  position: absolute;
  width: 200px;
  top: 0;
  left: -200px;
  visibility: hidden;
  opacity: 0.5;
  height: 100%;
  padding: 10px 15px;
}
/* line 570, ../scss/main.scss */
.wrp-mobilemenu .bg-green {
  background: #15bc97;
  width: 200px;
  height: 100%;
  left: -200px;
  top: 0;
  z-index: 0;
  position: absolute;
}
/* line 579, ../scss/main.scss */
.wrp-mobilemenu .wrapper-menu {
  position: relative;
  z-index: 10;
}
/* line 583, ../scss/main.scss */
.wrp-mobilemenu .closemenu {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  background: #2f3c46;
  padding: 10px 14px;
  text-align: center;
  clear: left;
}
/* line 594, ../scss/main.scss */
.wrp-mobilemenu .closemenu:hover {
  opacity: 1;
}
/* line 597, ../scss/main.scss */
.wrp-mobilemenu .mobile-mainmenu {
  color: #fff;
}
/* line 601, ../scss/main.scss */
.wrp-mobilemenu .mobile-mainmenu ul li a {
  color: #fff;
  padding: 5px 0;
  display: block;
}

/* line 611, ../scss/main.scss */
.wrp-mobilemenu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
  background: #15bc97;
}
/* line 617, ../scss/main.scss */
.wrp-mobilemenu.active .bg-green {
  position: fixed;
  left: 0;
}

/* line 628, ../scss/main.scss */
.super-wrapper.left {
  margin-left: 200px;
  float: left;
}

/* line 634, ../scss/main.scss */
.wrpsubmenu {
  background: #194269;
}
/* line 636, ../scss/main.scss */
.wrpsubmenu ul {
  margin-bottom: 0;
}
/* line 638, ../scss/main.scss */
.wrpsubmenu ul li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 643, ../scss/main.scss */
.wrpsubmenu ul li a {
  color: #738faa;
  padding: 20px 27px;
  display: block;
}
/* line 648, ../scss/main.scss */
.wrpsubmenu ul li a:hover, .wrpsubmenu ul li a.active {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

/* line 657, ../scss/main.scss */
.pages {
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 19px;
  line-height: normal;
  line-height: 33px;
  color: #666;
}
/* line 667, ../scss/main.scss */
.pages h3 {
  font-size: 29px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}
/* line 675, ../scss/main.scss */
.pages h4 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}

/* line 682, ../scss/main.scss */
.wrp-infoabout {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
/* line 686, ../scss/main.scss */
.wrp-infoabout .bgblue {
  background: #eff7f1;
  font-size: 19px;
  padding: 35px;
  color: #000;
  line-height: 30px;
  display: block;
  margin-bottom: 70px;
}

/* line 698, ../scss/main.scss */
.wrpleader {
  margin-top: 70px;
  padding-bottom: 70px;
}
/* line 701, ../scss/main.scss */
.wrpleader .item-leader {
  display: block;
  border: #d7d7d7 solid 1px;
  border-radius: 3px;
  text-align: center;
  margin-top: 20px;
}
/* line 707, ../scss/main.scss */
.wrpleader .item-leader img {
  max-width: 100%;
}

/* line 714, ../scss/main.scss */
.content-2 h3 {
  margin-bottom: 50px;
}
/* line 717, ../scss/main.scss */
.content-2 .content {
  line-height: 24px;
}

/* line 722, ../scss/main.scss */
.wrp-bgwhite {
  border-radius: 10px;
  background: #fff;
  padding: 55px 40px;
  text-align: left;
  position: relative;
  max-width: 865px;
  margin: 0 auto;
}
/* line 731, ../scss/main.scss */
.wrp-bgwhite p span {
  color: #000;
  margin-bottom: 70px;
  display: block;
}

/* line 739, ../scss/main.scss */
.wrp-minipages {
  max-width: 865px;
  margin: 0 auto;
  margin-top: -470px;
  display: block;
  text-align: center;
}
/* line 745, ../scss/main.scss */
.wrp-minipages h2 {
  color: #fff;
  margin-bottom: 70px;
  font-size: 59px;
  display: block;
  font-family: 600;
}

/* line 754, ../scss/main.scss */
.wrp-minipages2 {
  margin: 0 auto;
  margin-top: -42%;
  display: block;
  text-align: center;
  position: relative;
  z-index: 100;
  font-size: 19px;
}
/* line 762, ../scss/main.scss */
.wrp-minipages2 .wrp-bgwhite {
  padding: 55px 60px;
}
/* line 765, ../scss/main.scss */
.wrp-minipages2 h2 {
  color: #fff;
  margin-bottom: 150px;
  font-size: 59px;
  display: block;
  font-family: 600;
}

/* line 774, ../scss/main.scss */
.wrpfull-leader {
  /*	background: #e0e5e4;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1aba5+0,e0e5e4+100 */
  background: #a1aba5;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYWJhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGU1ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #a1aba5 0%, #e0e5e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a1aba5), color-stop(100%, #e0e5e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a1aba5 0%, #e0e5e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a1aba5 0%, #e0e5e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a1aba5 0%, #e0e5e4 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a1aba5 0%, #e0e5e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1aba5', endColorstr='#e0e5e4',GradientType=1 );
  /* IE6-8 */
  width: 100%;
  overflow: hidden;
  display: block;
}
/* line 790, ../scss/main.scss */
.wrpfull-leader .content {
  /*		background: url("../images/img-manabout.png") top no-repeat;*/
  /*		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;*/
  min-height: 100px;
  position: relative;
}
/* line 798, ../scss/main.scss */
.wrpfull-leader .content img {
  margin-left: -40px;
}
/* line 801, ../scss/main.scss */
.wrpfull-leader .content .content-leader {
  padding: 50px 0;
  float: right;
  color: #000;
  max-width: 570px;
  padding-left: 70px;
  text-align: left;
  min-height: 400px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 100;
}
/* line 813, ../scss/main.scss */
.wrpfull-leader .content .content-leader h4 {
  font-size: 29px;
  color: #000;
  margin-bottom: 30px;
}
/* line 819, ../scss/main.scss */
.wrpfull-leader .content .content-leader a {
  background: #15bc97;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 7px 40px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

/* line 833, ../scss/main.scss */
.contactpage {
  text-align: left;
  font-size: 400;
  color: #2f3c46;
}
/* line 837, ../scss/main.scss */
.contactpage h3 {
  text-align: left;
}
/* line 840, ../scss/main.scss */
.contactpage h4 {
  color: #2f3c46;
  line-height: 33px;
}
/* line 845, ../scss/main.scss */
.contactpage .socmed {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 849, ../scss/main.scss */
.contactpage .socmed a {
  color: #b2b2b2;
  margin-right: 15px;
}
/* line 855, ../scss/main.scss */
.contactpage .item {
  color: #2f3c46;
  display: block;
  margin-top: 30px;
  max-width: 470px;
}
/* line 860, ../scss/main.scss */
.contactpage .item p {
  margin-top: 0;
}
/* line 863, ../scss/main.scss */
.contactpage .item h4 {
  margin-bottom: 5px;
}

/* line 869, ../scss/main.scss */
.formldger.sky-form {
  box-shadow: none;
}
/* line 871, ../scss/main.scss */
.formldger.sky-form input[type="text"], .formldger.sky-form textarea {
  border: #d7d7d7 solid 1px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.28);
  box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.28);
  font-size: 17px;
}
/* line 879, ../scss/main.scss */
.formldger.sky-form input[type="text"] {
  height: 45px;
}
/* line 891, ../scss/main.scss */
.formldger.sky-form .input:hover input,
.formldger.sky-form .select:hover select,
.formldger.sky-form .textarea:hover textarea,
.formldger.sky-form .radio:hover i,
.formldger.sky-form .checkbox:hover i,
.formldger.sky-form .toggle:hover i,
.formldger.sky-form .ui-slider-handle:hover {
  border-color: #d7d7d7;
}
/* line 894, ../scss/main.scss */
.formldger.sky-form .checkbox input + i::after {
  color: #2d7bc5;
}
/* line 897, ../scss/main.scss */
.formldger.sky-form .radio i, .formldger.sky-form .checkbox i {
  border-radius: 3px;
}

/* line 906, ../scss/main.scss */
.formldger .input {
  margin-bottom: 20px;
}
/* line 908, ../scss/main.scss */
.formldger .input label {
  display: block;
  font-weight: normal;
  font-size: 19px;
  color: #2f3c46;
}
/* line 915, ../scss/main.scss */
.formldger .input label.checkbox {
  font-weight: normal;
  font-size: 17px;
}
/* line 922, ../scss/main.scss */
.formldger .input textarea {
  width: 100%;
  min-height: 143px;
}
/* line 926, ../scss/main.scss */
.formldger .input input[type="submit"] {
  color: #fff;
  background: #15bc97;
  border-style: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 25px;
  letter-spacing: 3px;
  padding: 20px 30px;
  height: auto;
  min-width: 190px;
  width: auto;
  margin-top: 15px;
}

/* line 944, ../scss/main.scss */
.newsletter-form {
  text-align: left;
  color: #fff;
}
/* line 947, ../scss/main.scss */
.newsletter-form h2 {
  font-size: 58px;
  text-align: left;
  margin-top: 74px;
  margin-bottom: 15px;
}
/* line 954, ../scss/main.scss */
.newsletter-form h5 {
  font-size: 26px;
  margin-bottom: 85px;
  text-align: left;
}
/* line 959, ../scss/main.scss */
.newsletter-form .wrpinput {
  position: relative;
  overflow: hidden;
  margin-bottom: 109px;
  color: #2f3c46;
}
/* line 964, ../scss/main.scss */
.newsletter-form .wrpinput input[type="text"] {
  width: 100%;
  padding: 20px;
  color: #a2a2a2;
  font-size: 27px;
  padding-right: 235px;
  border-radius: 3px;
  border-style: none;
}
/* line 974, ../scss/main.scss */
.newsletter-form .wrpinput input[type="submit"], .newsletter-form .wrpinput input[type="button"] {
  background: #15bc97;
  color: #fff;
  font-size: 20px;
  padding: 25px 21px;
  text-align: center;
  min-width: 217px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  top: 0;
  border-style: none;
}

/* line 991, ../scss/main.scss */
.mini-past {
  max-width: 780px;
  margin: 0 auto;
}

/* line 996, ../scss/main.scss */
.wrp-pastedition {
  margin-bottom: 40px;
  text-align: left;
  margin-top: 30px;
}
/* line 1000, ../scss/main.scss */
.wrp-pastedition p {
  text-align: left;
}
/* line 1003, ../scss/main.scss */
.wrp-pastedition h3 {
  text-align: left;
  margin-bottom: 40px;
}
/* line 1007, ../scss/main.scss */
.wrp-pastedition .item-edition {
  display: block;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #e5e5e5 solid 1px;
  font-size: 19px;
  position: relative;
  padding-right: 125px;
}
/* line 1017, ../scss/main.scss */
.wrp-pastedition .item-edition a {
  color: #2d7bc5;
  float: left;
}
/* line 1021, ../scss/main.scss */
.wrp-pastedition .item-edition span {
  color: #a3a3a3;
  font-size: 16px;
  position: absolute;
  width: 125px;
  right: 0;
  top: 10px;
}
/* line 1030, ../scss/main.scss */
.wrp-pastedition .item-edition:last-child {
  border-bottom: 0;
}

/* line 1035, ../scss/main.scss */
.wrplist-career {
  max-width: 775px;
  margin: 0 auto;
  display: block;
}
/* line 1039, ../scss/main.scss */
.wrplist-career p {
  margin-bottom: 50px;
}
/* line 1042, ../scss/main.scss */
.wrplist-career .item-career {
  border-top: #d2d2d2 solid 1px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  padding-top: 33px;
  padding-bottom: 33px;
}
/* line 1051, ../scss/main.scss */
.wrplist-career .item-career h4 {
  font-size: 23px;
  color: #2d7bc5;
}
/* line 1055, ../scss/main.scss */
.wrplist-career .item-career h4 a {
  color: #2d7bc5;
}
/* line 1059, ../scss/main.scss */
.wrplist-career .item-career span {
  font-size: 19px;
  color: #818181;
}
/* line 1064, ../scss/main.scss */
.wrplist-career .item-career:last-child {
  border-bottom: #d2d2d2 solid 1px;
}
/* line 1067, ../scss/main.scss */
.wrplist-career .item-career:after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  font-size: 37px;
  top: 38%;
  color: #a9a9a9;
  left: 95%;
}

/* line 1078, ../scss/main.scss */
.wrp-getintouch {
  text-align: center;
  max-width: 775px;
  margin: 0 auto;
  display: block;
  margin-top: 85px;
  margin-bottom: 80px;
}
/* line 1085, ../scss/main.scss */
.wrp-getintouch h3 {
  text-align: center;
}
/* line 1088, ../scss/main.scss */
.wrp-getintouch p {
  text-align: center;
}
/* line 1091, ../scss/main.scss */
.wrp-getintouch a {
  color: #fff;
  padding: 14px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 217px;
  margin-top: 35px;
  border-radius: 3px;
}
/* line 1101, ../scss/main.scss */
.wrp-getintouch a:hover {
  text-decoration: none;
}
/* line 1104, ../scss/main.scss */
.wrp-getintouch a.blue {
  background: #2d7bc5;
}
/* line 1107, ../scss/main.scss */
.wrp-getintouch a.green {
  background: #15bc97;
}

/* line 1112, ../scss/main.scss */
.wrp-banerimage {
  position: relative;
}
/* line 1114, ../scss/main.scss */
.wrp-banerimage img {
  width: 100%;
}
/* line 1117, ../scss/main.scss */
.wrp-banerimage h2 {
  font-size: 59px;
  text-align: left;
}
/* line 1122, ../scss/main.scss */
.wrp-banerimage .contents {
  position: absolute;
  width: 100%;
  max-width: 770px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 23%;
  font-size: 19px;
  text-align: left;
  line-height: 35px;
  letter-spacing: 1px;
}
/* line 1135, ../scss/main.scss */
.wrp-banerimage .contents h2 {
  margin-bottom: 30px;
}
/* line 1139, ../scss/main.scss */
.wrp-banerimage .contents-bottom {
  position: absolute;
  bottom: 30px;
  text-align: left;
  width: 100%;
  font-size: 19px;
  max-width: 770px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 1149, ../scss/main.scss */
.wrp-banerimage .contents-bottom h2 {
  margin-bottom: 0px;
}
/* line 1152, ../scss/main.scss */
.wrp-banerimage .contents-bottom .socmed {
  font-size: 21px;
  display: block;
  margin-top: 17px;
}
/* line 1156, ../scss/main.scss */
.wrp-banerimage .contents-bottom .socmed a {
  margin-right: 8px;
  color: #fff;
}

/* line 1164, ../scss/main.scss */
.wrp-list-leader {
  display: block;
  text-align: center;
}
/* line 1167, ../scss/main.scss */
.wrp-list-leader .item-leader {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 270px;
}
/* line 1172, ../scss/main.scss */
.wrp-list-leader .item-leader .img-leader {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 1177, ../scss/main.scss */
.wrp-list-leader .item-leader .img-leader img {
  max-width: 100%;
}
/* line 1180, ../scss/main.scss */
.wrp-list-leader .item-leader .img-leader .content {
  position: absolute;
  z-index: 1;
  top: -20px;
  width: 100%;
  height: 100%;
  background: url("../images/green-bg.png");
  color: #fff;
  font-size: 19px;
  vertical-align: middle;
  padding: 20px;
  padding-top: 50px;
  visibility: hidden;
  opacity: 0;
  max-width: 270px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 1199, ../scss/main.scss */
.wrp-list-leader .item-leader .img-leader .content a {
  color: #fff;
}
/* line 1204, ../scss/main.scss */
.wrp-list-leader .item-leader h3 {
  font-size: 17px;
  color: #000;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 1212, ../scss/main.scss */
.wrp-list-leader .item-leader h3 a {
  color: #000;
}
/* line 1216, ../scss/main.scss */
.wrp-list-leader .item-leader span {
  font-size: 14px;
  line-height: 14px;
}
/* line 1223, ../scss/main.scss */
.wrp-list-leader .item-leader:hover .img-leader .content {
  visibility: visible;
  opacity: 1;
  top: 0;
}

/* line 1233, ../scss/main.scss */
.wrp-aboutleader {
  margin-bottom: 0px;
  text-align: center;
}
/* line 1236, ../scss/main.scss */
.wrp-aboutleader p {
  text-align: left;
}
/* line 1239, ../scss/main.scss */
.wrp-aboutleader h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/* line 1244, ../scss/main.scss */
.wrp-aboutleader .content-detail {
  max-width: 770px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* line 1252, ../scss/main.scss */
.back-btn {
  display: block;
  text-align: left;
  margin-top: 80px;
  font-size: 15px;
  letter-spacing: 2px;
}
/* line 1258, ../scss/main.scss */
.back-btn a {
  background: url("../images/backbtn.jpg") no-repeat left;
  padding-left: 33px;
}

/* line 1264, ../scss/main.scss */
.wrp-notfound {
  margin: 0 auto;
  max-width: 870px;
  padding-bottom: 95px;
}
/* line 1268, ../scss/main.scss */
.wrp-notfound .imgnotfound {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
/* line 1272, ../scss/main.scss */
.wrp-notfound .imgnotfound img {
  max-width: 330px;
}
/* line 1276, ../scss/main.scss */
.wrp-notfound .contenttext {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-align: left;
}
/* line 1282, ../scss/main.scss */
.wrp-notfound .contenttext h3 {
  font-size: 41px;
}
/* line 1286, ../scss/main.scss */
.wrp-notfound .contenttext a {
  margin-top: 65px;
  background: #15bc97;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 17px;
}
/* line 1297, ../scss/main.scss */
.wrp-notfound .contenttext a:hover {
  background: #fff;
  color: #15bc97;
  opacity: 1;
  text-decoration: none;
}

/* line 1306, ../scss/main.scss */
.titlewhite {
  background: #fff;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 1313, ../scss/main.scss */
.titlewhite h3 {
  display: block;
  font-size: 41px !important;
  margin-bottom: 10px !important;
  margin-top: 0;
}

/* line 1322, ../scss/main.scss */
.pages-nopadding {
  font-size: 19px;
  line-height: normal;
  line-height: 33px;
  color: #000;
}

/* line 1330, ../scss/main.scss */
.bgsilver {
  background: #f5f5f5;
  padding-top: 77px;
  padding-bottom: 77px;
  width: 100%;
}

/* line 1337, ../scss/main.scss */
.content-demo {
  font-size: 21px;
  /*	padding-top: 100px;*/
  margin-bottom: 30px;
  color: #194269;
}
/* line 1343, ../scss/main.scss */
.content-demo h3 {
  font-size: 29px;
  margin-top: 0;
}
/* line 1348, ../scss/main.scss */
.content-demo p {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 1352, ../scss/main.scss */
.content-demo ul {
  margin-bottom: 47px;
}
/* line 1354, ../scss/main.scss */
.content-demo ul li {
  background: url("../images/checklist.png") 0 5px no-repeat;
  padding-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: 21px;
  -webkit-background-size: 21px;
  -moz-background-size: 21px;
  -o-background-size: 21px;
}
/* line 1365, ../scss/main.scss */
.content-demo .contents {
  text-align: left;
}

/* line 1370, ../scss/main.scss */
.wrp-thanks {
  display: block;
  margin: 0 auto;
  max-width: 740px;
  margin-bottom: 50px;
}
/* line 1375, ../scss/main.scss */
.wrp-thanks h3 {
  font-size: 29px;
  color: #194269;
}
/* line 1380, ../scss/main.scss */
.wrp-thanks .socmed {
  margin-top: 50px;
}
/* line 1382, ../scss/main.scss */
.wrp-thanks .socmed a {
  font-size: 40px;
  color: #939393;
  margin-left: 5px;
  margin-right: 15px;
}

/* line 1391, ../scss/main.scss */
.backhome {
  background: #15bc97 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 2px;
  margin-top: 60px;
  padding: 15px 40px;
  text-align: center;
}

/* line 1402, ../scss/main.scss */
.backhome:hover {
  text-decoration: none;
  color: #fff;
}

/* line 1407, ../scss/main.scss */
.form-request {
  background: #fff;
  padding: 40px 35px;
  text-align: left;
  max-width: 500px;
  float: right;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.4);
}
/* line 1416, ../scss/main.scss */
.form-request p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 1422, ../scss/main.scss */
.form-request .wrpinput {
  display: block;
  margin-bottom: 20px;
}
/* line 1426, ../scss/main.scss */
.form-request label {
  display: block;
  font-size: 18px;
  color: #194269;
  margin-bottom: 0px;
}
/* line 1433, ../scss/main.scss */
.form-request input[type="text"] {
  padding: 7px 10px;
  border-style: none;
  width: 100%;
  font-size: 18px;
  border: #d6d6d6 solid 1px;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
  box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
}
/* line 1444, ../scss/main.scss */
.form-request input[type="submit"] {
  background: #15bc97;
  color: #fff;
  padding: 17px;
  text-align: center;
  display: block;
  letter-spacing: 5px;
  font-size: 26px;
  border-style: none;
  width: 100%;
  margin-top: 33px;
}

/* line 1459, ../scss/main.scss */
.bg-blog {
  width: 100%;
  min-height: 200px;
  background: #e7f6ff;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e7f6ff 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7f6ff), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7f6ff 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7f6ff 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7f6ff 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e7f6ff 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7f6ff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
}

/* line 1473, ../scss/main.scss */
.wrp-blog {
  margin-top: -180px;
}

/* line 1477, ../scss/main.scss */
.wrp-mini {
  max-width: 860px;
  margin: 0 auto;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 45px 0;
  border: #ececec solid 1px;
}
/* line 1485, ../scss/main.scss */
.wrp-mini .item {
  text-align: left;
  padding: 0 50px;
  display: block;
  font-size: 15px;
  line-height: 25px;
}
/* line 1491, ../scss/main.scss */
.wrp-mini .item img {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 1495, ../scss/main.scss */
.wrp-mini .item h3 {
  text-align: left;
  display: block;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 1503, ../scss/main.scss */
.wrp-mini .item .date {
  color: #737373;
  margin-top: 17px;
  margin-bottom: 17px;
  display: block;
}
/* line 1508, ../scss/main.scss */
.wrp-mini .item .date a {
  color: #2d7bc5;
}
/* line 1512, ../scss/main.scss */
.wrp-mini .item a {
  color: #2d7bc5;
}
/* line 1516, ../scss/main.scss */
.wrp-mini hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 1521, ../scss/main.scss */
.wrp-mini .item.center h3 {
  text-align: center;
}
/* line 1524, ../scss/main.scss */
.wrp-mini .item.center .date {
  text-align: center;
}
/* line 1528, ../scss/main.scss */
.wrp-mini h1 {
  font-size: 64px;
  color: #000;
  margin: 0;
}
/* line 1534, ../scss/main.scss */
.wrp-mini .contenttxt-detail {
  margin-bottom: 60px;
  overflow: hidden;
}
/* line 1537, ../scss/main.scss */
.wrp-mini .contenttxt-detail ul {
  margin-left: 50px;
  margin-bottom: 20px;
}
/* line 1540, ../scss/main.scss */
.wrp-mini .contenttxt-detail ul li {
  margin-bottom: 15px;
  padding-left: 10px;
  list-style: disc;
}
/* line 1546, ../scss/main.scss */
.wrp-mini .contenttxt-detail h2 {
  text-align: left;
  display: block;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  margin-bottom: 20px;
  margin-top: 40px;
}
/* line 1557, ../scss/main.scss */
.wrp-mini .contenttxt-detail h3 {
  font-size: 19px;
  margin-bottom: 25px;
  color: #000;
}
/* line 1563, ../scss/main.scss */
.wrp-mini .contenttxt-detail h4 {
  font-size: 17px;
  color: #000;
  margin-bottom: 25px;
}
/* line 1569, ../scss/main.scss */
.wrp-mini .contenttxt-detail .itemleft {
  display: inline-block;
  float: left;
  max-width: 460px;
}
/* line 1574, ../scss/main.scss */
.wrp-mini .contenttxt-detail .itemright {
  float: right;
  display: inline-block;
  text-align: center;
}
/* line 1578, ../scss/main.scss */
.wrp-mini .contenttxt-detail .itemright img {
  display: block;
  clear: left;
  margin-bottom: 5px;
}
/* line 1584, ../scss/main.scss */
.wrp-mini .contenttxt-detail span {
  color: #f26522;
  font-size: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
  display: block;
  text-align: center;
  font-style: italic;
}
/* line 1594, ../scss/main.scss */
.wrp-mini .contenttxt-detail hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 1598, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature {
  padding: 0 50px;
}
/* line 1600, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature h5 {
  font-size: 21px;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 1607, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature p {
  margin-bottom: 20px;
}
/* line 1610, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature input[type="text"] {
  display: inline-block;
  margin-right: 10px;
  padding: 7px 15px;
  width: 100%;
  font-size: 15px;
  max-width: 400px;
  border: #d6d6d6 solid 1px;
  border-radius: 5px;
}
/* line 1621, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature input[type="submit"], .wrp-mini .contenttxt-detail .item-feature input[type="button"] {
  background: #2d7bc5;
  color: #fff;
  border-radius: 5px;
  border-style: none;
  padding: 8px 30px;
  font-size: 15px;
}
/* line 1629, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature .author-desc {
  position: relative;
  padding-left: 125px;
  margin-top: 15px;
}
/* line 1633, ../scss/main.scss */
.wrp-mini .contenttxt-detail .item-feature .author-desc img {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 1643, ../scss/main.scss */
.style-paging {
  margin: 0 auto;
  display: block;
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
}
/* line 1649, ../scss/main.scss */
.style-paging ul {
  border: #a8a8a8 solid 1px;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}
/* line 1655, ../scss/main.scss */
.style-paging ul li {
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  border-right: #a8a8a8 solid 1px;
  font-size: 14px;
}
/* line 1662, ../scss/main.scss */
.style-paging ul li a {
  padding: 8px 17px;
  display: block;
  line-height: 15px;
}
/* line 1667, ../scss/main.scss */
.style-paging ul li a:hover {
  text-decoration: none;
}
/* line 1671, ../scss/main.scss */
.style-paging ul li:last-child {
  border-right: none;
}
/* line 1675, ../scss/main.scss */
.style-paging ul li.active a, .style-paging ul li:hover a {
  background: #a8a8a8;
  color: #fff;
  text-decoration: none;
}

/* line 1684, ../scss/main.scss */
.date-artikel {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 1691, ../scss/main.scss */
.wrp-contentpress {
  display: block;
  margin: 0 auto;
  max-width: 920px;
  margin-bottom: 100px;
}

/* line 1699, ../scss/main.scss */
.wrp-contentpress .item {
  margin-bottom: 50px;
  display: block;
  text-align: left;
  position: relative;
  padding-left: 350px;
  font-size: 19px;
}
/* line 1706, ../scss/main.scss */
.wrp-contentpress .item img {
  max-width: 249px;
}
/* line 1709, ../scss/main.scss */
.wrp-contentpress .item .left {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 1719, ../scss/main.scss */
.wrp-logoasset {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,ffffff+100 */
  background: #f3f3f3;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f3f3f3 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
  width: 100%;
  min-height: 100px;
  float: left;
}
/* line 1734, ../scss/main.scss */
.wrp-logoasset h4 {
  font-size: 29px;
  font-family: 600;
  display: block;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #000;
}
/* line 1743, ../scss/main.scss */
.wrp-logoasset ul {
  margin: 0 auto;
  display: block;
  margin: 0;
  text-align: center;
}
/* line 1748, ../scss/main.scss */
.wrp-logoasset ul li {
  background: #fff;
  border: #f3f3f3 solid 1px;
  display: inline-block;
  margin-right: 22px;
  position: relative;
  overflow: visible;
  margin-bottom: 70px;
}
/* line 1756, ../scss/main.scss */
.wrp-logoasset ul li img {
  max-width: 270px;
}
/* line 1759, ../scss/main.scss */
.wrp-logoasset ul li span {
  display: block;
  text-align: center;
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: left;
}
/* line 1770, ../scss/main.scss */
.wrp-logoasset ul li:last-child {
  margin-right: 0;
}
/* line 1773, ../scss/main.scss */
.wrp-logoasset ul li.imgwhite {
  background: #254467;
}

/* line 1779, ../scss/main.scss */
.wrp-brandcolor {
  width: 100%;
  min-height: 100px;
  float: left;
  margin-bottom: 170px;
}
/* line 1784, ../scss/main.scss */
.wrp-brandcolor h4 {
  font-size: 29px;
  font-family: 600;
  display: block;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #000;
}
/* line 1793, ../scss/main.scss */
.wrp-brandcolor .colors {
  display: block;
}
/* line 1795, ../scss/main.scss */
.wrp-brandcolor .colors .item {
  display: inline-block;
  float: left;
  width: 25%;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 1803, ../scss/main.scss */
.wrp-brandcolor .colors .brand-col-a {
  background: #b8c3ce;
}
/* line 1806, ../scss/main.scss */
.wrp-brandcolor .colors .brand-col-b {
  background: #224468;
}
/* line 1809, ../scss/main.scss */
.wrp-brandcolor .colors .brand-col-c {
  background: #72879e;
}
/* line 1812, ../scss/main.scss */
.wrp-brandcolor .colors .brand-col-d {
  background: #60b378;
}

/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* line 1825, ../scss/main.scss */
.wrp-subscribe {
  background: #f1f1f1;
  color: #6d6d6d;
  padding: 30px 0;
  overflow: hidden;
}
/* line 1830, ../scss/main.scss */
.wrp-subscribe span {
  font-size: 23px;
  float: left;
  margin-top: 10px;
}
/* line 1836, ../scss/main.scss */
.wrp-subscribe .wrp-input-subscribe {
  float: right;
}
/* line 1839, ../scss/main.scss */
.wrp-subscribe input[type="text"] {
  border-style: none;
  float: left;
  padding: 17px 17px;
  font-size: 16px;
  width: 300px;
}
/* line 1846, ../scss/main.scss */
.wrp-subscribe input[type="submit"], .wrp-subscribe input[type="button"] {
  background: #2d7bc5;
  border-style: none;
  color: #fff;
  float: left;
  height: 54px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}

/* line 1858, ../scss/main.scss */
.footer-btn {
  background: #3f474e;
  color: #fff;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 40px;
}
/* line 1864, ../scss/main.scss */
.footer-btn .socmed {
  display: block;
  text-align: left;
  margin-top: 20px;
}
/* line 1868, ../scss/main.scss */
.footer-btn .socmed a {
  color: #797f83;
  margin-left: 5px;
  margin-right: 15px;
  display: inline-block;
  font-size: 40px;
}
/* line 1875, ../scss/main.scss */
.footer-btn .socmed a:hover {
  color: #fff;
}
/* line 1879, ../scss/main.scss */
.footer-btn .wrp-address {
  position: relative;
  padding-left: 80px;
}
/* line 1882, ../scss/main.scss */
.footer-btn .wrp-address .logo-small {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1886, ../scss/main.scss */
.footer-btn .wrp-address .logo-small img {
  max-width: 50px;
}
/* line 1890, ../scss/main.scss */
.footer-btn .wrp-address .content {
  text-align: left;
  line-height: 25px;
  font-size: 16px;
  color: #dfe2e7;
  opacity: 0.8;
}
/* line 1898, ../scss/main.scss */
.footer-btn .wrp-thingking {
  text-align: left;
  opacity: 0.8;
}
/* line 1901, ../scss/main.scss */
.footer-btn .wrp-thingking h4 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}
/* line 1907, ../scss/main.scss */
.footer-btn .wrp-thingking .content {
  position: relative;
  padding-right: 80px;
  text-align: left;
  font-size: 15px;
  margin-top: 30px;
  color: #dfe2e7;
}
/* line 1914, ../scss/main.scss */
.footer-btn .wrp-thingking .content h5 {
  font-size: 18px;
  color: #fff;
}
/* line 1919, ../scss/main.scss */
.footer-btn .wrp-thingking .content span {
  font-size: 12.9px;
  margin-bottom: 15px;
  color: #fff;
  display: block;
}
/* line 1925, ../scss/main.scss */
.footer-btn .wrp-thingking .content .more {
  color: #fff;
}
/* line 1928, ../scss/main.scss */
.footer-btn .wrp-thingking .content img {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1935, ../scss/main.scss */
.footer-btn .copyright {
  display: block;
  text-align: center;
  font-size: 11px;
  opacity: 0/8;
  color: #dfe2e7;
  padding-top: 30px;
}

/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 400px) {
  /* line 1949, ../scss/main.scss */
  .mainlogo img {
    max-width: 50%;
  }

  /* line 1952, ../scss/main.scss */
  .baner-home .content-right img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 1961, ../scss/main.scss */
  .wrp-brandcolor .colors .item {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 1967, ../scss/main.scss */
  .wrp-notfound .imgnotfound img {
    max-width: 100%;
  }

  /* line 1972, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .itemright {
    display: block;
    text-align: center;
    float: none;
  }
  /* line 1976, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .itemright img {
    margin: 0 auto;
    margin-bottom: 5px;
  }

  /* line 1987, ../scss/main.scss */
  .wrp-mini h1 {
    font-size: 40px;
  }
  /* line 1991, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .item-feature {
    padding: 0 10px;
  }
  /* line 1993, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .item-feature input[type="text"] {
    margin-bottom: 20px;
  }
  /* line 1996, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .item-feature .author-desc {
    padding: 0;
  }
  /* line 1998, ../scss/main.scss */
  .wrp-mini .contenttxt-detail .item-feature .author-desc img {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* line 2008, ../scss/main.scss */
  .author-desc {
    padding: 0;
  }

  /* line 2012, ../scss/main.scss */
  .bgbaner-pages {
    min-height: auto;
  }
  /* line 2013, ../scss/main.scss */
  .bgbaner-pages .contents {
    position: relative;
    padding: 15px;
    text-align: center;
  }
  /* line 2019, ../scss/main.scss */
  .bgbaner-pages h2 {
    font-size: 30px;
    text-align: center;
  }
  /* line 2023, ../scss/main.scss */
  .bgbaner-pages .contents-bottom {
    position: relative;
    bottom: 10px;
    text-align: center;
  }

  /* line 2030, ../scss/main.scss */
  .wrp-notfound .imgnotfound {
    display: block;
  }

  /* line 2034, ../scss/main.scss */
  .wrp-supertop {
    float: none;
  }
  /* line 2036, ../scss/main.scss */
  .wrp-supertop .bg-lefttopmenu {
    display: none;
  }

  /* line 2040, ../scss/main.scss */
  .supertopmenu {
    float: none;
    width: 100%;
  }
  /* line 2043, ../scss/main.scss */
  .supertopmenu ul {
    width: 100%;
  }
  /* line 2045, ../scss/main.scss */
  .supertopmenu ul li {
    float: none;
  }

  /* line 2050, ../scss/main.scss */
  .top {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* line 2054, ../scss/main.scss */
  .mainlogo {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: left;
  }

  /* line 2090, ../scss/main.scss */
  .baner-home .content-left {
    margin-bottom: 30px;
  }

  /* line 2095, ../scss/main.scss */
  .wrp-itemfull .content {
    padding-left: 30px;
  }

  /* line 2099, ../scss/main.scss */
  .wrp-subscribe {
    text-align: center;
  }
  /* line 2100, ../scss/main.scss */
  .wrp-subscribe .wrp-input-subscribe {
    float: none;
  }
  /* line 2104, ../scss/main.scss */
  .wrp-subscribe input[type="text"] {
    float: none;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  /* line 2110, ../scss/main.scss */
  .wrp-subscribe input[type="button"], .wrp-subscribe input[type="submit"] {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* line 2116, ../scss/main.scss */
  .wrp-thingking {
    margin-top: 40px;
  }

  /* line 2120, ../scss/main.scss */
  .wrp-itemldgerfills .item-fills {
    margin-bottom: 30px;
  }

  /* line 2127, ../scss/main.scss */
  .wrpsubmenu ul li a {
    padding: 12px 9px;
  }

  /* line 2134, ../scss/main.scss */
  .newsletter-form .wrpinput {
    position: relative;
    overflow: hidden;
    margin-bottom: 109px;
    color: #2f3c46;
  }
  /* line 2139, ../scss/main.scss */
  .newsletter-form .wrpinput input[type="text"] {
    width: 100%;
    padding: 15px;
    color: #a2a2a2;
    font-size: 27px;
    padding-right: 15px;
    border-radius: 3px;
    border-style: none;
    font-size: 17px;
  }
  /* line 2150, ../scss/main.scss */
  .newsletter-form .wrpinput input[type="submit"], .newsletter-form .wrpinput input[type="button"] {
    padding: 15px 15px;
    min-width: 217px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 17px;
  }

  /* line 2161, ../scss/main.scss */
  .wrp-pastedition {
    display: block;
  }
  /* line 2163, ../scss/main.scss */
  .wrp-pastedition .item-edition {
    padding: 0;
    text-align: left;
  }
  /* line 2166, ../scss/main.scss */
  .wrp-pastedition .item-edition a {
    text-align: left;
  }
  /* line 2169, ../scss/main.scss */
  .wrp-pastedition .item-edition span {
    text-align: left;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    top: 0;
  }

  /* line 2178, ../scss/main.scss */
  .form-request {
    float: none;
    max-width: none;
    margin-top: 50px;
  }

  /* line 2184, ../scss/main.scss */
  .requestdemo-header span {
    display: block;
    float: none;
    text-align: center;
  }
  /* line 2189, ../scss/main.scss */
  .requestdemo-header .mainlogo {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  /* line 2195, ../scss/main.scss */
  .content-demo {
    padding-top: 0;
  }

  /* line 2198, ../scss/main.scss */
  .wrp-blog {
    margin-top: 0;
  }

  /* line 2202, ../scss/main.scss */
  .wrp-mini .item {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 2207, ../scss/main.scss */
  .wrp-minipages2 {
    margin-top: 50px;
  }
  /* line 2209, ../scss/main.scss */
  .wrp-minipages2 h2 {
    color: #000;
    margin-bottom: 0;
  }
  /* line 2213, ../scss/main.scss */
  .wrp-minipages2 .wrp-bgwhite {
    padding: 55px 30px;
  }

  /* line 2217, ../scss/main.scss */
  .wrpfull-leader .content img {
    margin-left: 0;
    max-width: 100%;
    display: none;
  }

  /* line 2222, ../scss/main.scss */
  .wrpfull-leader .content .content-leader {
    padding-left: 0;
  }

  /* line 2226, ../scss/main.scss */
  .wrp-contentpress .item {
    padding: 0;
  }
  /* line 2228, ../scss/main.scss */
  .wrp-contentpress .item .left {
    position: relative;
    display: block;
    text-align: center;
  }
  /* line 2233, ../scss/main.scss */
  .wrp-contentpress .item .right {
    text-align: center;
  }

  /* line 2238, ../scss/main.scss */
  .wrpfull-leader .content .content-leader {
    position: relative;
    text-align: center;
    float: none;
    max-width: none;
    width: 100%;
    padding-top: 0;
  }
}
/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 2251, ../scss/main.scss */
  .wrp-subscribe .wrp-input-subscribe {
    float: none;
  }

  /* line 2254, ../scss/main.scss */
  .wrp-subscribe span {
    display: block;
    margin-bottom: 20px;
  }

  /* line 2258, ../scss/main.scss */
  .form-request {
    float: none;
    max-width: none;
    margin-top: 50px;
  }

  /* line 2265, ../scss/main.scss */
  .wrp-brandcolor .colors .item {
    width: 50%;
    margin-bottom: 20px;
  }
}
/* Desktop small screen */
/* Desktop large screen */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 2283, ../scss/main.scss */
  .wrp-subscribe input[type="submit"], .wrp-subscribe input[type="button"] {
    height: 53px;
  }
}
@media (min-width: 1320px) and (max-width: 1500px) {
  /* line 2290, ../scss/main.scss */
  .wrp-minipages2 {
    margin-top: -30%;
  }
}
@media (min-width: 1000px) and (max-width: 1319px) {
  /* line 2296, ../scss/main.scss */
  .wrp-minipages2 {
    margin-top: -20%;
  }
}
@media (min-width: 686px) and (max-width: 897) {
  /* line 2302, ../scss/main.scss */
  .wrp-minipages2 {
    margin-top: -30%;
  }
}

/** NEW STRUCTURE
===================================*/

@media screen and (max-width: 60em){
    /* line 2063, ../scss/main.scss */
  .mainmenu {
    float: none;
    display: block;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    display: none;
    opacity: 0;
    margin-top: 0px;
    visibility: none;
  }
  /* line 2074, ../scss/main.scss */
  .mainmenu ul li {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 2078, ../scss/main.scss */
  .mainmenu ul li a {
    color: #2d7bc5;
  }
  /* line 2081, ../scss/main.scss */
  .mainmenu ul li a:hover, .mainmenu ul li a.active {
    background: #15bc97;
    color: #fff;
    opacity: 1;
  }

    /* line 2060, ../scss/main.scss */
  .mobile-menu {
    display: block;
  }
}
.main-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .main-wrapper .wrapper-inner {
    -webkit-transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
            transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0; }
  .main-wrapper .mask-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 350ms ease;
            transition: all 350ms ease; }
  .main-wrapper .wrapper-active {
    margin-right: -40%;
    float: right; }
    .main-wrapper .wrapper-active .mask-wrapper {
      opacity: 1;
      z-index: 11; }
    @media (max-width: 570px) {
      .wrapper .wrapper-active {
        margin-right: -60%; } }
  .main-wrapper .on-active-right .mask-wrapper {
    opacity: 1;
    z-index: 11; }

/*====== HUMBERBER BUTTON ======*/
.btn-rwd-sidebar {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #60b378;
  color: white;
  position: absolute;
  left: 0;
  top: 0; }
  @media screen and (min-width: 62em) {
    .btn-rwd-sidebar {
      display: none; } }
  @media screen and (min-width: 32em) {
    .btn-rwd-sidebar {
      top: 93px; } }

/*====== RESPONSIVE MENU ======*/
.close-sidebar {
  text-align: right; }

.nav-rwd-sidebar {
  width: 40%;
  z-index: 999;
  background-color: #273A52;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (min-width: 62em) {
    .nav-rwd-sidebar {
      width: 60%; } }
  .nav-rwd-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-rwd-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px; }
    .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 15px;
      display: block;
      font-weight: 600; }
    .nav-rwd-sidebar ul li a:hover, .nav-rwd-sidebar ul li a:focus {
      color: white;
      background-color: #313131;
      text-decoration: none; }

.nav-rwd-sidebar {
  margin-left: -60%; }
  .nav-rwd-sidebar .btn-hide {
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    line-height: 42px;
    background-color: #15bc97;
    color: white;}
    .nav-rwd-sidebar .btn-hide:hover, .nav-rwd-sidebar .btn-hide:focus {

    }
    .nav-rwd-sidebar .btn-hide:hover a{
      text-decoration: none;
    }

   .nav-rwd-sidebar .btn-hide  a{
        color: white;
        display: block;
      }
  .nav-rwd-sidebar.sidebar-active {
    margin-left: 0; }
  .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
    padding-left: 30px;
    color: white; }
  .nav-rwd-sidebar ul li:hover a, .nav-rwd-sidebar ul li:focus a {
    color: #f1f1f1; }
